<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Advatech - Mwanza Branch{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
            <link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}" />
            <link rel="stylesheet" type="text/css" href="{{asset('vendor/fontawesome/css/all.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
                <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
                <script type="text/javascript" src="{{ asset('vendor/fontawesome/js/all.js') }}"></script>
        {% endblock %}
    </body>
</html>
