{% extends 'base.html.twig'  %}

{% block body %}

                {{ form_start(form) }}
                <div class="row">
                   <div class="form-group col-xs-3">
                       {{ form_row(form.fullname) }}
                   </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        {{ form_row(form.password) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        {{ form_row(form.position) }}
                    </div>
                </div>
                {{ form_row(form.position) }}
                <button type="submit" class="btn btn-primary">Register!</button>
                {{ form_end(form) }}

{% endblock %}